<a href="https://colab.research.google.com/github/HongYedam/class2021Fall/blob/main/%EA%B8%B0%EB%A7%90%20%EA%B3%B5%EB%B6%80%20string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
s = 'abcdef' # string은 0번째부터 시작    # 범위 끝은 포함 X !!! 
print(s[0], s[5], s[-1], s[-6])      # -1은 맨뒤에서 첫번째
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

In [ ]:
n = [100, 200, 300] # list도 0번째부터 시작  # 범위 끝은 포함 X !!! 
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [ ]:
len(s)

6

In [ ]:
s[1]+s[3]+s[4:]*10
# String 더하기는 string을 concat (concaternate 결합, 연쇄해주기)하는 것!

'bdefefefefefefefefefef'

In [13]:
a = 'hi'
a.upper()
#a.upper()은 a라는 string을 대문자로 만들어주는 거임

'HI'

In [23]:
sn = ' this is a house built this year.\n' 	
sn

' this is a house built this year.\n'

# 여기서부터 .함수 앞에 나오는 모든 알파벳 자리에는 string이 와야해!

In [24]:
result = sn.find('house') 	    # index of first instance of string t inside sn (-1 if not found)
                                # sn이라는 str에서 house가 들어간 부분의 index 찾기 (house가 두개 나오면 처음걸로 찾음)
result                     #   11번째

11

In [25]:
result = sn.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

1

In [30]:
sn = sn.strip()      	            # a copy of s without leading or trailing whitespace
sn                  # 처음에 맨 앞에 나오는 띄어쓰기나, 마지막에 나오는 (\n, 역슬라이스n) whitespace를 없애줌
                    # 쓸데없는 거 없애주는 거!

'this is a house built this year.'

In [39]:
tokens = sn.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens                         # 띄어쓰기 space를 기준으로 split해서 []안에 나열하라!

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [37]:
'다른 tokenize 예시'
t = 'd,e f, g'
tokens0 = t.split(',')	      # ,를 기준으로 split해서 [] 안에 나열하라!
tokens0

['d', 'e f', ' g']

In [43]:
k = ','.join(tokens0)	        # combine the words of the text into a string using s as the glue
k                             # '' 안에 있는 space나 , 를 기준으로 사이사이에 붙여서 glueing하는 것!

'd,e f, g'

In [44]:
o = ' '.join(tokens)	        # combine the words of the text into a string using space as the glue
o

'this is a house built this year.'

In [45]:
s = o.replace('this', 'that')   # replace instances of t with u inside ss
                              # string o의 this 를 that으로 바꾸기!
s

'that is a house built that year.'